.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.notes__appbar {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.notes__input-title , .notes__textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

.notes__input-title{
  color: $dark-grey;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.notes__textarea{
  color: $dark-grey;
  font-size: 20px;
  flex: 1 1 auto;
  resize: none;
}

.notes__image img {
  box-shadow: 3px 3px $dark-grey;
  height: 150px;
}